<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/images/burger.jpg" alt="burger" class="img-fluid">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
        <hr>
        <br>
        {{{ body }}}
        <br>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/javascript/app.js" type="text/javascript"></script>
</body>

</html>


